<nav class="navbar navbar-expand-md navbar-light bg-light mb-3">
  <div class="container">
     <span class="navbar-brand mb-0 h1">
       <img src="/images/vjs.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
       신입개발자 한승민
     </span>
    <div class="navbar ml-auto">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="/">About Me <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="/">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="/">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
