            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Portfolio Manager</h3>
                    <strong>PM</strong>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="/portfolio/manager">
                            <i class="glyphicon glyphicon-home"></i>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/portfolio/manager/about">
                            <i class="glyphicon glyphicon-briefcase"></i>
                            About
                        </a>
                    </li>
                    <li>
                        <a href="/portfolio/manager/skills">
                            <i class="glyphicon glyphicon-duplicate"></i>
                            Skills
                        </a>
                    </li>
                    <li>
                        <a href="/portfolio/manager/portfolio">
                            <i class="glyphicon glyphicon-link"></i>
                            Portfolio
                        </a>
                    </li>
                    <li>
                        <a href="/portfolio/manager/logout">
                            <i class="glyphicon glyphicon-link" style="text-decoration-color: red;"></i>
                            LOGOUT
                        </a>
                    </li>
                </ul>
            </nav>
            
        <!-- jQuery CDN -->
         <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
         <!-- Bootstrap Js CDN -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

         <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                 });
             });
         </script>
