<html>
    <head>
        <%- include('./partials/head') %>
    </head>
    <body>
        <ul>
            <h1>HanSeungMin</h1>
            <li>
                <a href="/portfolio" style="font-size: 2rem;">포트폴리오</a>
            </li>
        </ul>
    </body>
</html>