<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body id="page-top">
    <%- include('../partials/nav') %>
    <!-- Masthead-->
    <header class="masthead">
      <div class="container">
          <div class="masthead-subheading">Back-end Developer HanSeungMin</div>
          <div class="masthead-heading text-uppercase">WEB PORTFOLIO</div>
      </div>
  </header>
  <!-- About-->
  <section class="page-section" id="About">
      <div class="container">
          <div class="text-center">
              <h2 class="section-heading text-uppercase">ABOUT ME</h2>
              <img class="mx-auto rounded-lg" style="width:auto; height: auto; max-width: 400px; max-height: 400px; margin-bottom: 1rem;" src="assets/img/crazy.jpg" alt="" />
              <h3 class="section-subheading text-muted">
                안녕하세요.<br>
                신입 백엔드 개발자 한승민입니다.<br>
                앞으로도 꾸준한 학습을 통해 부족함을 채워나가겠습니다!<br>
                본 내용은 수정할 예정!
               </h3>
          </div>
          <div class="row text-center">
              <div class="col-md-4">
                  <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fas fa-check fa-stack-1x fa-inverse"></i></span>
                  <h4 class="my-3">Achievements</h4>
                  <p class="text-muted">이젠아카데미에서 자바 웹 프로그래밍 과정을 이수하였으며,
                    중고거래 사이트의 웹/앱 프로젝트를 진행하였습니다.<br>
                    교육과정 수료 후 Javascript를 공부 중 입니다.
                </p>
              </div>
              <div class="col-md-4">
                  <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i></span>
                  <h4 class="my-3">Education</h4>
                  <p class="text-muted">선덕고등학교 - 졸업<br>
                    수원과학대학 - 공연연기과 중퇴<br>
                    이젠아카데미 – 자바 웹 프로그래밍과정 수료</p>
              </div>
              <div class="col-md-4">
                  <span class="fa-stack fa-4x"><i class="fas fa-circle fa-stack-2x text-primary"></i><i class="fas fa-laptop fa-stack-1x fa-inverse"></i></span>
                  <h4 class="my-3">Experience </h4>
                  <p class="text-muted">다양한 직종의 사회 경험을 통해 제가 나아갈 새로운 방향을 확실하게 잡고 공부하였으며,
                    한 가지 일을 하더라도 스스로 만족하기 전까지는 그만두지 않는 끈기를 지니고 있습니다.</p>
              </div>
          </div>
      </div>
  </section>
  <!-- Skill-->
  <section class="page-section bg-light" id="skill">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Skill</h2>
            <h3 class="section-subheading text-muted" style="font-size: 1.5rem">BACK-END</h3>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="skills">
                    <img class="mx-auto rounded-lg" src="assets/img/skills/java.jpg" alt="" />
                    <h4>JAVA</h4>
                    <!-- <p class="text-muted">상세 예정</p> -->
                </div>
            </div>
            <div class="col-4">
                <div class="skills">
                    <img class="mx-auto rounded-lg" src="assets/img/skills/spring.jpg" alt="" />
                    <h4>SPRING FRAMEWORK</h4>
                    <!-- <p class="text-muted">상세 예정</p> -->
                </div>
            </div>
            <div class="col-4">
                <div class="skills">
                    <img class="mx-auto rounded-lg" src="assets/img/skills/nodejs.png" alt="" />
                    <h4>NODE.JS</h4>
                    <!-- <p class="text-muted">상세 예정</p> -->
                </div>
            </div>
            <div class="col-4">
                <div class="skills">
                    <img class="mx-auto rounded-lg" src="assets/img/skills/jsp.png" alt="" />
                    <h4>JSP</h4>
                    <!-- <p class="text-muted">상세 예정</p> -->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="text-center">
                <h3 class="section-subheading text-muted" style="font-size: 1.5rem">FRONT-END</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="skills">
                    <img class="mx-auto rounded-lg" src="assets/img/skills/js.png" alt="" />
                    <h4>JAVASCRIPT</h4>
                    <!-- <p class="text-muted">상세 예정</p> -->
                </div>
            </div>
            <div class="col-4">
                <div class="skills">
                    <img class="mx-auto rounded-lg" src="assets/img/skills/html.png" alt="" />
                    <h4>HTML</h4>
                    <!-- <p class="text-muted">상세 예정</p> -->
                </div>
            </div>
            <div class="col-4">
                <div class="skills">
                    <img class="mx-auto rounded-lg" src="assets/img/skills/css.png" alt="" />
                    <h4>CSS</h4>
                    <!-- <p class="text-muted">상세 예정</p> -->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="text-center">
                <h3 class="section-subheading text-muted" style="font-size: 1.5rem">DATABASE</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="skills">
                    <img class="mx-auto rounded-lg" src="assets/img/skills/oracle.png" alt="" />
                    <h4>ORACLE</h4>
                    <!-- <p class="text-muted">상세 예정</p> -->
                </div>
            </div>
            <div class="col-4">
                <div class="skills">
                    <img class="mx-auto rounded-lg" src="assets/img/skills/mongodb.png" alt="" />
                    <h4>MONGODB</h4>
                    <!-- <p class="text-muted">상세 예정</p> -->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="text-center">
                <h3 class="section-subheading text-muted" style="font-size: 1.5rem">ETC</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="skills">
                    <img class="mx-auto rounded-lg" src="assets/img/skills/git.png" alt="" />
                    <h4>GIT</h4>
                    <!-- <p class="text-muted">상세 예정</p> -->
                </div>
            </div>
            <div class="col-4">
                <div class="skills">
                    <img class="mx-auto rounded-lg" src="assets/img/skills/ubuntu.jpg" alt="" />
                    <h4>UBUNTU</h4>
                    <!-- <p class="text-muted">상세 예정</p> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">앞으로도 꾸준한 학습을 통해 다양한 스택을 쌓을 수 있도록 노력하겠습니다.</p></div>
        </div>
    </div>
</section>
  <!-- Portfolio Grid-->
  <section class="page-section bg-light" id="portfolio">
      <div class="container">
          <div class="text-center">
              <h2 class="section-heading text-uppercase">Portfolio</h2>
              <h3 class="section-subheading text-muted"></h3>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">  <!-- MODAL 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3"
                        ><div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" style=" height: 300px;" src="assets/img/portfolio/portfolio.png" alt=""/>
                      </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">PORTFOLIO</div>
                        <div class="portfolio-caption-subheading text-muted">2020.06 ~ 2020.06</div>
                        <div class="portfolio-caption-subheading text-muted">기록을 위한 포트폴리오 페이지 제작</div>
                        <div class="portfolio-caption-subheading text-muted">Node.js, express, javascript 등</div>
                    </div>
                </div>
            </div>
              <div class="col-lg-4 col-sm-6 mb-4">  <!-- MODAL 2-->
                  <div class="portfolio-item">
                      <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2"
                          ><div class="portfolio-hover">
                              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" style="width:auto; height: 300px;" src="assets/img/portfolio/nnsapp.png" alt=""/>
                        </a>
                      <div class="portfolio-caption">
                          <div class="portfolio-caption-heading">NNS# APP</div>
                          <div class="portfolio-caption-subheading text-muted">2020.02 ~ 2020.03</div>
                          <div class="portfolio-caption-subheading text-muted">DB연동을 통한 안드로이드 웹앱 개발</div>
                          <div class="portfolio-caption-subheading text-muted">Java, SpringFramework, Android, Oracle 등</div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6 mb-4">  <!-- MODAL 1-->
                  <div class="portfolio-item">
                      <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1"
                          ><div class="portfolio-hover">
                              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" style="width:auto; height: 300px;" src="assets/img/portfolio/nns.png" alt=""/>
                        </a>
                      <div class="portfolio-caption">
                          <div class="portfolio-caption-heading">NNS#</div>
                          <div class="portfolio-caption-subheading text-muted">2020.01 ~ 2020.02</div>
                          <div class="portfolio-caption-subheading text-muted">중고거래 웹사이트 팀 프로젝트</div>
                          <div class="portfolio-caption-subheading text-muted">Java, SpringFramework, JSP, Oracle 등</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Contact-->
  <section class="page-section" id="contact">
      <div class="container">
          <div class="text-center">
              <h2 class="section-heading text-uppercase">CONTACT</h2>
              <h3 class="section-subheading text-muted"></h3>
          </div>
            <div class="text-center">
                <div style="margin-bottom: 1rem;">
                    <img class="mx-auto rounded-lg" style="width:auto; height: auto; max-width: 150px; max-height: 150px;" src="assets/img/mypic.jpg" alt="" />
                </div>
                <h3 class="section-subheading2 text-muted2">
                    한 승 민<br>
                    1992. 08. 04<br>
                    eogml5581@gmail.com<br>
                    010-9115-8422<br>
                    </h3>
            </div>
      </div>
  </section>
  <!-- Footer-->
  <footer class="footer py-4">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-4 text-lg-left">Copyright © Your Website 2020</div>
              <div class="col-lg-4 my-3 my-lg-0">
                  <a class="btn btn-dark btn-social mx-2" href="https://github.com/DDangKongE"><i class="fab fa-github"></i></a>
              </div>
          </div>
      </div>
  </footer>

  <!-- Portfolio Modals-->
  <!-- Modal 3-->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <div class="modal-body">
                            <!-- Project Details Go Here-->
                            <h2 class="text-uppercase">PORTFOLIO</h2>
                            <!-- <p class="item-intro text-muted">서브 텍스트 영역</p> -->
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/portfolio.png" alt="" />
                            <ul class="list-inline">
                                <li>2020.06 ~ 2020.06</li>
                                </ul>
                                <p>주제 및 목표<br>
                                    Node.js를 통한 서버 구축<br>
                                    Start Bootstrap의 Template을 통한 디자인 구현<br>
                                    추후 스킬과 프로젝트를 추가할 수 있도록 구현
                                </p>
                                <p>기술 및 라이브러리<br>
                                    Node.js, express, javascript, HTML, CSS, Bootstrap</p>
                                <p>제작과정<br>
                                    안드로이드 스튜디오로 작업했으며 게시판 내 데이터 송수신 구현<br>
                                    애플리케이션에서 컨트롤러로 요청 시 웹과 앱의 요청을 구분하여 JSON타입으로 데이터을 반환<br>
                                    JSON 타입으로 전달받은 데이터를 각종 게시판에 연결</p>
                            <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fas fa-times mr-1"></i>Close Project</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Modal 2-->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <div class="modal-body">
                            <!-- Project Details Go Here-->
                            <h2 class="text-uppercase">NNS# APP</h2>
                            <!-- <p class="item-intro text-muted">서브 텍스트 영역</p> -->
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/nnsapp.png" alt="" />
                            <ul class="list-inline">
                            <li>2020.02 ~ 2020.03</li>
                            </ul>
                            <p>주제 및 목표<br>
                                Spring으로 제작했던 팀 프로젝트와의 데이터 연동을 목표로 설정<br>
                                웹 페이지와 동일하게 모든 기능이 연동되어 정상적으로 작동되도록 기획</p>
                            <p>기술 및 라이브러리<br>
                                JAVA, Android Studio, Oracle, Mybatis, Spring</p>
                            <p>제작과정<br>
                                안드로이드 스튜디오로 작업했으며 게시판 내 데이터 송수신 구현<br>
                                애플리케이션에서 컨트롤러로 요청 시 웹과 앱의 요청을 구분하여 JSON타입으로 데이터을 반환<br>
                                JSON 타입으로 전달받은 데이터를 각종 게시판에 연결</p>
                              <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fas fa-times mr-1"></i>Close Project</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Modal 1-->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <div class="modal-body">
                            <!-- Project Details Go Here-->
                            <h2 class="text-uppercase">NNS#</h2>
                            <!-- <p class="item-intro text-muted">서브 텍스트 영역</p> -->
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/nns.png" alt="" />
                            <ul class="list-inline">
                            <li>2020.01 ~ 2020.02</li>
                            </ul>
                            <p>주제 및 목표<br>
                              개인과 개인 사이의 중고거래를 중개해주는 웹 사이트 제작<br>
                              웹 개발의 기본 틀이라고 생각되는 쇼핑몰과 게시판을 모두 포함하여 제작할 수 있도록 목표 설정<br>
                              구매자와 판매자의 구분 없이 간편하게 거래를 진행할 수 있도록 기획</p>
                              <p>기술 및 라이브러리<br>
                                Spring, Oracle, MyBatis, JavaScript, JSP, jQuery,Bootstrap, Tomcat, Git</p>
                              <p>제작과정<br>
                                Spring을 기반으로 제작하였으며 Oracle과 Mybatis를 활용하여 데이터베이스 관리<br>
                                Tiles를 활용하여 프로젝트의 기본 틀을 구성<br>
                                각종 게시판의 기본기능 구현과 텍스트 에디터를 통한 업로드 기능 구현<br>
                                상품에 대한 문의를 댓글 형식으로 구현<br>
                                배송중인 상품의 배송 상태를 조회할 수 있는 API 구현<br>
                                전체적인 오류 및 개선사항 유지보수</p>
                            <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fas fa-times mr-1"></i>Close Project</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Bootstrap core JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
  <!-- Third party plugin JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <!-- Contact form JS-->
  <script src="assets/mail/jqBootstrapValidation.js"></script>
  <script src="assets/mail/contact_me.js"></script>
  <!-- Core theme JS-->
  <script src="javascripts/scripts.js"></script>
  </body>
</html>
