<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <div class="wrapper">
            <%- include('../partials/side') %>

            <!-- Page Content Holder -->
            <div id="content">
                <h1>Portfolio Manager</h1>
                <h2>Version History</h2>
                
                <h3>v1.1.1</h3>
                <p>2020.06.20</p>
                <p>ABOUT ME 파일 읽어들이는 부분 구린코드 수정</p>

                <h3>v1.1.0</h3>
                <p>2020.06.19</p>
                <p>ABOUT ME 부분 수정 기능 추가</p>
                <p>해당 부분은 서버 내 파일로 관리함</p>
                <p>파일 읽어들이는 부분이 하드코딩이라 맘에 안들어서 나중에 수정필요함.</p>
                
                <h3>v1.0.0</h3>
                <p>2020.06.18</p>
                <p>최초 페이지 완성</p>
            </div>
        </div>
    </body>
</html>