<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <div class="wrapper">
            <%- include('../partials/side') %>

            <!-- Page Content Holder -->
            <div id="content">
                <h1>Portfolio Manager</h1>
                <h2>Version History</h2>
                <p>2020.06.19</p>
                <p>v1.0.0</p>
                <p>최초 페이지 완성</p>

                
            </div>
        </div>
    </body>
</html>